[tool.poetry]
name = "aldjemy"
version = "2.3"
description = "SQLAlchemy for your Django models"
authors = ["Mikhail Krivushin"]
license = "BSD 3-Clause \"New\" or \"Revised\" License"
readme = "README.rst"
homepage = "https://github.com/aldjemy/aldjemy"
repository = "https://github.com/aldjemy/aldjemy"

[tool.poetry.dependencies]
# `,<4.0` is because poetry 1.1.11 can't resolve dependency correctly.
# It will be probably safe to remove it in the future.
python = ">=3.6.1,<4.0"
SQLAlchemy = ">=1.4"
Django = ">=2.2"

[tool.poetry.dev-dependencies]
psycopg2-binary = "*"
black = "*"
pytest = "*"
pytest-django = "*"
isort = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
src_paths = ["aldjemy"]
known_first_party = ["aldjemy"]
