[tool.poetry]
name = "aldjemy"
version = "1.0.0"
description = "Integration SQLAlchemy in Django projects for effective query building purposes"
authors = ["Mikhail Krivushin"]
license = "BSD 3-Clause \"New\" or \"Revised\" License"

[tool.poetry.dependencies]
python = "^3.6"
SQLAlchemy = "^1.4.4"
Django = ">=2.2"

[tool.poetry.dev-dependencies]
psycopg2-binary = "^2.8.6"
django-extensions = "^3.1.0"
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
