name: Publish to pypi
on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.3
        with:
          poetry-version: "1.1.5"
      - name: Configure poetry
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run:
          poetry config pypi-token.pypi $PYPI_TOKEN
      - name: Build package
        run:
          poetry build
      - name: Publish package
        run:
          poetry publish
